.image__box{
    display: flex;
}

.imagebg {
    position: relative;
    width:425px;
    height: 512px;
    margin-right:50px ;
    border: 5px inset black;
    border-radius: 10%;
}


.difference{
    position: absolute;
    width: 20px;
    height: 20px;
}

dialog {
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    width: 90vw;
    height: 90vh; 
    border: solid black;
    border-top-width: 5vh;
    border-bottom-width: 5vh;
    border-left-width: 5vw;
    border-right-width: 5vw;
}

dialog div{
    position: relative;
    width: 102%;
    height: 101%;
}

#finalButton{
    position: absolute;
    bottom: 0; 
    padding: 0;
    margin: 0;
    color: white;
    width: 100%;
    background-color: black;
    border: none;
}

#finalButton h1, h2 {
    margin: 0;
}

#finalButton:focus{ 
    outline: none; 
}