body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

:root {
    --bg-main: #fff;
    --text-default: rgba(0, 0, 0, 0.5);
    --text-accent: #5e5e5e;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 255, 136, 0.308);
    border: 5px inset #00fff2;
}

.navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.navigation li + li {
    margin-left: 0.5rem;
}

.link {
    text-decoration: none;
    color: var(--text-accent);
    font-weight: bold;
}

.link__game {
    background-color:  rgba(0, 255, 136, 0.308);
    border-radius: 10%;
    box-shadow:
    1px 1px #53ea93,
    2px 2px #53ea93,
    3px 3px #53ea93,
    4px 4px #53ea93;
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px)
}

.link__game:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow:
    -1px -1px white,
    -2px -2px white,
    -3px -3px white,
    -4px -4px white;
    -webkit-transform: translateX(2px);
    transform: translateX(2px)
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    font: 5em Impact, fantasy;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2em;
    grid-gap: 5em;
    list-style: none;
    font-size: 2em;
}

.list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.game__name{
    position: absolute;
    left: 35px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
